 

<div class="pastry">
<h3>Chocolate Cake</h3>
<break>
<ul>
<img src="https://bit.ly/2VIHLkI" height="250px" width="250px">
<li><%= @space_cake.description%></li>
<li><%= @space_cake.price%></li>
</ul>
</div>

<div class="pastry">
<h3>Cheese Cake</h3>
<break>
<ul>
<img src="https://bit.ly/2CgPHk9" height="250px" width="250px">
<li><%= @cheese_cake.description%></li>
<li><%= @cheese_cake.price%></li>
</ul>

</div>

<div class="pastry">
<h3>Coffee Cake</h3>
<break>
<ul>
<img src="https://bit.ly/2RQnb2I" height="250px" width="250px">
<li><%= @coffee_cake.description%></li>
<li><%= @coffee_cake.price%></li>
</ul>

</div>