

<div class="pastry">
<h3>Chocolate Chip</h3>
<break>
<ul>
<img src="https://bit.ly/1yuIoLY" height="250px" width="250px">
<li><%= @chocolate_chip.description%></li>
<li><%= @chocolate_chip.price%></li>
</ul>
</div>


<div class="pastry">
<h3>Macarons</h3>
<break>
<ul>
<img src="https://bit.ly/2AMjb9G" height="250px" width="250px">
<li><%= @rainbow_cookie.description%></li>
<li><%= @rainbow_cookie.price%></li>
</ul>
</div>

<div class="pastry">
<h3>Peanut Butter</h3>
<break>
<ul>
<img src="https://bit.ly/2CjIujB" height="250px" width="250px">
<li><%= @peanut_cookie.description%></li>
<li><%= @peanut_cookie.price%></li>
</ul>
</div>
